Source: libmcpdac
Section: main
Priority: extra
XBSC-Group: Libraries
XBSC-SubGroup: Analog
XBSC-SubSubgroup: DAC
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libmcpdac
Architecture: all
Provides: MCPDAC.h
Description: MCPDAC library

